<div class="sharing-AHF d-flex">
    <div class="share--gFb">Share:</div>
    <img class="social-media" src="{{ section.blocks.settings.image_url_1| img_url: 'small'}}">
    <img class="social-media" src="{{ block.settings.image_url_2 | img_url: 'small'}}">
    <img class="social-media" src="{{ block.settings.image_url_3 |img_url: 'small' }}">
</div>

