<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>{{ section.settings.title }}</h3>
      {{ section.settings.text }}
    </div>
    <div class="col-md-4">
      <img src="{{ section.settings.image | img_url: 'master' }}" alt="Imagen" class="img-fluid">
    </div>
  </div>
</div>


{% schema %}
    {
      "name": "Imagen con texto custom",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagen"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Título",
          "default": "Título de ejemplo"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Texto",
          "default": "<p>Este es un texto de ejemplo que puedes editar con el editor de texto enriquecido.</p>"
        }
      ],

        "presets": [
            {
                "name": "Imagen con texto custom"
            }
        ]
    }
    {% endschema %}
    

    