<div class="wrapper">
  <div class="image">
    {{ section.settings.image | img_url: 'master' | img_tag }}
  </div>
  <div class="title">
    {{ section.settings.title }}
  </div>
  <div class="text">
    {{ section.settings.text }}
  </div>
</div>

<style>
    .wrapper {
      display: grid;
      grid-template-columns: 70% 30%;
      grid-gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
    
    .image {
      grid-column: 2;
      grid-row: 1;
    }
    
    .title {
      grid-column: 1;
      grid-row: 1;
      font-size: 24px;
      font-weight: bold;
    }
    
    .text {
      grid-column: 1;
      grid-row: 2;
    }
</style>

{% schema %}
    {
      "name": "Imagen con texto custom",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagen"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Título",
          "default": "Título de ejemplo"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Texto",
          "default": "<p>Este es un texto de ejemplo que puedes editar con el editor de texto enriquecido.</p>"
        }
      ]
    }
    {% endschema %}
    

    