{% comment %} {% render 'bootstrap' %} {% endcomment %}

<div class="container">
  <div class="row">
    <div class="col-md-8 center-vertical text-left">
        {% render 'text-custom-title' %}
        {% render 'text-custom-rich-text' %}
        </div>
    <div class="col-md-4">
        {% render 'img-custom' %}
    </div>
  </div>
</div>

{% style %}
.center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
{% endstyle %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


{% schema %}
    {
      "name": "Imagen con texto custom",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagen"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Título",
          "default": "Título de ejemplo"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Texto",
          "default": "<p>Este es un texto de ejemplo que puedes editar con el editor de texto enriquecido.</p>"
        }
      ],

        "presets": [
            {
                "name": "Imagen con texto custom"
            }
        ]
    }
    {% endschema %}
    

    