<div id="main">
	<h1 id="product_title">{{ product.title }}</h1>
</div>

{% schema %}
    {
      "name": "main-product-sale",
      "tag": "section",
      "class": "section",
        "settings": []
    }
{% endschema %}